.rightContent > .grad1Part{
    width: 90%;
    height: 40%;
    /*background-color: gray;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.grad1Part > .graduateIcon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-left: -70%;*/
    /*margin-top: 5%;*/
}
.graduateIcon>#icon1G{
    font-size:30px;
}
.grad1Part > .lineGrad1{
    border-top: solid black;
    width: 10%;
    height: 2px;
}
.grad1Part > .grad1Info{
    height: 60%;
    width: 60%;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}


.rightContent > .grad2Part{
    width: 90%;
    height: 40%;
    /*background-color: gray;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.grad2Part > .graduateIcon2{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-left: -70%;*/
    /*margin-top: 5%;*/
}
.graduateIcon2>#icon2G{
    font-size:30px;
}
.grad2Part > .lineGrad2{
    border-top: solid black;
    width: 10%;
    height: 2px;
}
.grad2Part > .grad2Info{
    height: 60%;
    width: 60%;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}