
.rightContent > #contentAbout{
    height: 70%;
    width: 80%;
    /*background-color: thistle;*/
    background-color: rgba(255, 204, 217,0.5);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*margin-top: -1%;*/
}
#contentAbout > #aboutMe{
    /*background-color: gray;*/
    width: 95%;
    height: 70%;
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
    font-family: poppins, Helvetica, sans-serif;
}
#contentAbout > #downloadCV {
    height: 10%;
    width: 80%;
    /*background-color: lightseagreen;*/
    text-align: center;
    margin-top:3px;
}

a.downloadCVB:link{
    border: 2px solid palevioletred;
    padding: 6px 12px;
    width: 30%;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 30px;
    height: 36px;
    font-family: poppins, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 10px 10px -8px;
    font-size: 1.1em;
    color: black;
    line-height: 1.5;
    text-decoration: none;

}
a.downloadCVB:hover{
    border: 2px solid palevioletred;
    background-color: thistle;
    padding: 6px 12px;
    width: 30%;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.5px;
    border-radius: 30px;
    height: 36px;
    font-family: poppins, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 10px 10px -8px;
    font-size: 1.1em;
    color: black;
}
