.typeOfExp{
    margin-left: 5%;

    background-color: rgba(255, 204, 217,0.5);
    border-radius: 25px;
    padding: 2%;
    width: 30%;
    text-align: center;
}
a{
    color: darkblue;
    text-decoration: none;
}

